section{
/*width:100%;*/
margin-left:15px;
}

.comment{
	/*vertical-align: baseline;*/
	margin-left: 10px;
	margin-bottom: 10px;
	border: none;
	line-height: 25px;
	width: 320px;
	outline: none;
	font-family: arial;
}

#gallery{
	margin-top:50px;
	/*margin-left: auto;
	margin-right: auto;*/
	/*text-align: center;*/
}

#pic{
	width: 420px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	margin-bottom: 40px;
}

#heart{
	padding:0;
	cursor: pointer;
	cursor: hand;
}

#likes, #name{
	margin-left: 15px;
	font-weight:600;
	/*font-size: 15px;*/
	font-family: arial;
}

.com{
	font-weight: 200;
}
#img{

}
