body {
	background-color: #fafafa;
}

.header {
	border-bottom: 1px solid rgba(0,0,0,.0975);
	display: block;
	background-color: #ffffff;
}

.logout, .logo, .montage{
	display: inline;
}

.mnt, .lgt, .lgn{
	margin-top: 25px;
	margin-right: 8px;
	height: 60px;
	width:60px;
	float: right;
	display: inline;
}

.footer{
	border-top: 1px solid rgba(0,0,0,.0975);
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
}

.sp{
	float: right;
	margin-right: 40px;
	font-family: sans-serif;
	font-style: italic;
	color: #999;
}
