#video {
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
	width:420px;
	/*height:240px;*/
}

#photo {
	/*border: 1px solid black;
	box-shadow: 2px 2px 3px black;*/
	width:220px;
	/*height:240px;*/
}

#canvas {
	display:none;
	/*width: 320px;
	height: 240px;*/
}

#startbutton {
	display:block;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	top:420px;
	background-color: rgba(0, 150, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-family: "Lucida Grande", "Arial", sans-serif;
	color: rgba(255, 255, 255, 1.0);
}

.filt{
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}
.divider{
	/*width: 720px;*/
	margin-top: 50px;
}

.main{
	/*display: inline-block;*/
	width: 500px;
	margin-left:auto;
	margin-right:auto;
}

.side{
	/*display: inline-block;*/
	margin-top: 100px;
	width: 340px;
}
